body {
    font-family: "poppins", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section-tittle {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-tittle h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}

.section-tittle h1::before {
    content: '';
    left: 0;
    position: absolute;
    height: 20px;
    background-color: #febd01;
    bottom: 0;
}

.text-upper {
    text-transform: uppercase;
}

.align-item-center {
    align-items: center !important;
}

.text-center {
    text-align: center !important;
}

/* header */

header {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #423040;
    padding: 0 15px;
    z-index: 11;

}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

header .nabvar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .nabvar ul li {
    display: inline-block;
    margin-left: 35px;
}

header .nabvar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffff;
    display: block;
    font-weight: 600;
    position: relative;
}

header .nabvar ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffff;
    width: 0;
    position: absolute;
    right: 0;
    bottom: -1px;
    transition: all 0.5s ease;
}

header .nabvar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .nabvar ul li a.active::before {
    width: 100%;
    left: 0;
}

/* js header */

header.fixed {
    background-color: #ffffff;
    position: fixed;
    border-color: #eee;
    animation: fixedHeader 0.5s ease;
    z-index: 11;
}

@keyframes fixedHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(-1);
    }
}

header.fixed .brand-name a {
    color: #000000;
}

header.fixed .nabvar ul li a {
    color: #000000;
}

header.fixed .nabvar ul li a::before {
    background-color: #febd01;
}



/* Home */

.home {
    min-height: 100vh;
    background-image: url(/assets/images/fondomain.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen {
    min-height: 100vh;
}

.home .home-content {
    flex: 0 0 100;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.home .home-content .block h6 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1 {
    color: #ffffff;
    font-size: 55px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}


.home .home-content .block h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block .cv-btn {
    padding-top: 20px;
}

.home .home-content .block .cv-btn a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease;
}

.home .home-content .block .cv-btn a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Hero Efecto Mouse */

.home-hero_mouse_scroll {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    -webkit-animation: 1.3s infinite;
    animation: wheel 1.3s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}

/* social-media-sidebar */

.social-media-sidebar {
    position: fixed;
    top: 50%;
    right: 10px;
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    background: #000000;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    transform: translateY(-50%);
    z-index: 1;
}

.social-media-item {
    width: 50px;
}

.social-media-link {
    width: 100%;
    display: block;
    padding: 12px;
    border-bottom: 2px solid #eee;
    text-align: center;
    transition: background 0.3s;
}

.social-media-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.social-media-icon {
    font-size: 24px;
    color: #ffffff;
}

.social-media-link:hover .social-media-icon {
    color: #febd01;
}


/*  acerca de mi */

.about-me {
    padding: 100px 15px;
    background-color: #ffffff;
}

.about-me .about-content .img {
    flex: 0 0 33.3%;
    max-width: 33.33%;
}

.about-me .about-content .img img {
    width: 100%;
    display: block;
}

.about-me .about-content .text {
    flex: 0 0 66.6%;
    max-width: 66.6%;
    padding-left: 35px;
}

.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 5px;
}

.about-me .about-content .text h6 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 5px;
}

.about-me .about-content .text h6 span {
    color: #febd01;
}

.about-me .about-content .text p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
    color: #838383;
    line-height: 24px;
}

.about-me .about-content .text .social-link {
    padding-top: 30px;
}

.about-me .about-content .text .social-link a {
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    list-style: 20px;
    text-align: center;
    margin: 0 1px;
    transition: all 0.5s ease;
}

.about-me .about-content .text .social-link a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-link a .fa-brands {
    font-size: 12px;
    color: #ffffff;
    transition: all 0.5s ease;
}

.about-me .about-content .text .social-link a:hover .fa-brands {
    color: #febd01;
}


/* Nuestros Servicios */

.services {
    background-color: #f1f1f1;
    padding: 100px 15px;
}

.services .section-tittle h1::before {
    left: 30%;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.service-card {
    height: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
    /* transform: translateY(-10px); */
}

.service-card h4 {
    font-size: 18px;
    color: #111111;
    margin: 15px 0;
}

.service-card p {
    font-size: 14px;
    color: #8b8e93;
}

.icon-bg {
    position: relative;
    width: 68px;
    height: 68px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 32px;
    z-index: 1;
}

.icon-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.1;
}

/*color icon services*/

.icon-primary {
    color: #062caf;
}

.icon-yellow {
    color: #f6a622;
}

.icon-purple {
    color: #7952f5;
}

.icon-green {
    color: #66cc33;
}

.icon-red {
    color: #ff4949;
}

.icon-cyan {
    color: #02d0a1;
}


/* habilidades */

.skills {
    padding: 100px 15px;
    background-color: #ffffff;
}

.skills .skills-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}

.skills .img {
    flex: 0 0 50%;
    max-width: 50%;
}

.skills .img img {
    width: 100%;
    display: block;
}

.skills .skills-content .section-tittle p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 15px 0;
}

.skills .skills-content .skills-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.skills .skills-content .skills-box h6 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px;
}

.skills .skills-content .skills-box .skills-bar {
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}

.skills .skills-content .skills-box .skills-bar .skills-bar-in {
    background-color: #febd01;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.skills .skills-content .skills-box .skills-bar .skills-bar-in span {
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}


/* seccion de mensajes */

.message-text {

    background-color: #0c0c17;
    padding: 40px 15px;
}

.message-text .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message-text .button {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}

.message-text h2 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 0;
    padding: 0;
    line-height: 35px;
}

.message-text .button a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease;
}

.message-text .button a:hover {
    background-color: #ffffff;
    color: #0c0c17;
}


/* Projectos CSS */

.projects {
    padding: 100px 15px;
    background-color: #ffffff;
}

.projects .section-tittle h1::before {
    left: 30%;
}

.project-card {
    padding: 10px 0;
}

.project-card:last-child {
    margin-bottom: 0;
}

.project_image-container {
    overflow: hidden;
    flex: 0 0 50%;
    max-width: 50%;
}

.project-image {
    width: 100%;
    object-fit: cover;
}

.project-details {
    padding: 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.project-details .button a {
    border-radius: 4px;
    color: #000000;
    border: 1px solid #000000;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease;
}

.project-details .button a:hover {
    background-color: #000000;
    color: #ffffff;
}





.project_tittle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2%;
}

.project-description{
    font-size: 18px;
    color: #838383;
    max-width: 600px;
    line-height: 1.7;
    margin-bottom: 30px;
}